html {
    height: 100%;
}

body {
    font-family: serif;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* For desktops and laptops */
@media (min-width: 1025px) {
    body {
        margin: 0 auto;
        /* This centers the content horizontally by automatically setting equal left and right margins */
        max-width: 45%;
        /* This restricts the content to 80% of the viewport width */
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0 auto;
        max-width: 80%;
        /* This restricts the content to 90% of the viewport width */
    }
}

/* For mobile phones */
@media (max-width: 767px) {
    body {
        margin: 0 auto;
        max-width: 85%;
        /* This restricts the content to 95% of the viewport width */
    }
}

header {
    padding-top: 1rem;
}

h2 {
    font-style: italic;
    font-weight: 200;
}

.name {
    font-size: 3rem;
    font-weight: 100;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

a:hover {
    border-bottom: 1px dashed #000;
}

li {
    margin: 0;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.85rem;
    margin-top: auto;
}

.contact {
    font-style: italic;
    margin: 0rem;
}

ul {
    margin: 0;
}